In [5]:
list_of_dicts = [
    {'nama': 'agus', 'nilai': 83},
    {'nama': 'sari', 'nilai': 85},
    {'nama': 'putri', 'nilai': 68},
    {'nama': 'bambang', 'nilai': 65}
]

In [7]:
nama = [['agus', 83], ['sari', 85], ['putri', 68], ['bambang', 65]]

print(nama)

[['agus', 83], ['sari', 85], ['putri', 68], ['bambang', 65]]

In [8]:
for list_of_dict in list_of_dicts:
    print(list_of_dict)

{'nama': 'agus', 'nilai': 83}
{'nama': 'sari', 'nilai': 85}
{'nama': 'putri', 'nilai': 68}
{'nama': 'bambang', 'nilai': 65}

In [9]:
data = [("agus", 83), ("sari", 85), ("putri", 68), ("bambang", 65)]
for item in data:
    name, score = item
    if score >= 70:
        print("siswa bernama", name, "dgn nilai mtk:", score, ", dinyatakan LULUS!")
    else:
        print("siswa bernama", name, "dgn nilai mtk:", score, ", dinyatakan TIDAK lulus!")

siswa bernama agus dgn nilai mtk: 83 , dinyatakan LULUS!
siswa bernama sari dgn nilai mtk: 85 , dinyatakan LULUS!
siswa bernama putri dgn nilai mtk: 68 , dinyatakan TIDAK lulus!
siswa bernama bambang dgn nilai mtk: 65 , dinyatakan TIDAK lulus!

In [10]:
data = [("agus", 83), ("sari", 85), ("putri", 68), ("bambang", 65)]
lulus = [name for name, score in data if score >= 70]
tidak_lulus = [name for name, score in data if score < 70]

print(lulus)
print(tidak_lulus)

['agus', 'sari']
['putri', 'bambang']