In [1]:
def message():
    """message function untuk menuliskan pesan"""
    print("Please, Enter a value: ")
    a = 100
    print(a)

In [2]:
message()

Please, Enter a value:
100

In [3]:
users = message()
print(users)

Please, Enter a value:
100
None

In [4]:
message.__doc__

'message function untuk menuliskan pesan'

In [5]:
# variabel global
a = 1
b = 11

def print_var():
    """this function will print a variable"""
    
    a = 2
    b = b + 4
    c = b
    
    print(f'[inside functional] local variable a: {a}')
    print(f'[inside functional] local variable b: {b}')
    print(c)

In [6]:
print_var()

UnboundLocalError: local variable 'b' referenced before assignment

In [7]:
# variable global
a = 1
b = 11

def print_var():
    """fungsi ini menampilkan variable"""
    
    a = 2
    # b = b + 4
    c = b
    
    print(f'[inside functional local variable a: {a}')
    print(f'[inside functional local variable b: {b}')
    print(c)

In [8]:
print_var()

[inside functional local variable a: 2
[inside functional local variable b: 11
11

In [9]:
print(f'global variable a: {a}')
print(b)

global variable a: 1
11

In [10]:
a = 1

def print_var():
    """fungsi ini menampilkan variable"""
    
    global a
    a = 2
    
    print(f'[inside functional local variable a: {a}')

In [12]:
print_var()

print(f'global variable a: {a}')

[inside functional local variable a: 2
global variable a: 2

In [13]:
def message(m):
    print("pesan: ",m.upper())
    
message("Hello")
message("Hello juga")

pesan:  HELLO
pesan:  HELLO JUGA

In [14]:
def message(what, number):
    print("Enter", what, "number", number)
    
message("telephone", 11)
message("price", 5)
message("number", "number")

Enter telephone number 11
Enter price number 5
Enter number number number

In [15]:
def tambahUmur(nama, umur):
    umur = umur + 0.5
    print(nama, umur)
    
tambahUmur("Adi",5.1)

Adi 5.6

In [16]:
def introduction(firstName, lastName):
    print("Hello, Nama saya", firstName, lastName)
    
introduction("Jonny", "Kidun")
introduction("Lucky", "Masnun")
introduction("Jesse", "Munaroh")
introduction("Clark", "Misnen")

Hello, Nama saya Jonny Kidun
Hello, Nama saya Lucky Masnun
Hello, Nama saya Jesse Munaroh
Hello, Nama saya Clark Misnen

In [17]:
introduction(firstName = "James", lastName = "Bond")
introduction(lastName = "Joko", firstName = "Luke")

Hello, Nama saya James Bond
Hello, Nama saya Luke Joko

In [18]:
def jumlah(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)
    
# memanggil fungsi
jumlah(5,6,4)

5 + 6 + 4 = 15

In [19]:
def introduction(firstName, lastName="Rasmit"):
    print("haii, nama saya", firstName, lastName)
    
# call the function here
introduction(firstName="Nandang")

haii, nama saya Nandang Rasmit

In [20]:
def introductionLengkap(firstName, lastName, middleName="Adi"):
    print("haii, nama saya", firstName, middleName, lastName)
    
introductionLengkap(firstName = "James", lastName = "Bond")

haii, nama saya James Adi Bond

In [21]:
def print_multi_args(*args):
    """print multiple args"""
    
    # print(type(args))
    for arg in args:
        print(arg)

In [22]:
print_multi_args(1,4,1,76, 'lala', 'lili')

1
4
1
76
lala
lili

In [23]:
def print_multi_key_args(**kwargs):
    """print multiple keyword args"""
    
    #print(type(kwargs))
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [24]:
print_multi_key_args(nama='budi', umur=23, sudah_menikah=False, alamat='jl selatan')

nama: budi
umur: 23
sudah_menikah: False
alamat: jl selatan

In [25]:
def boringFunction():
    return 123

x = boringFunction()

print("boringFunction mengembalikan hasil. yaitu :", x)

boringFunction mengembalikan hasil. yaitu : 123

In [27]:
def boringFunction():
    print("'Boring Mode' ON.")
    return 123

print("Pelajaran ini menarik!")
boringFunction()
print("pelajaran ini membosankan")

Pelajaran ini menarik!
'Boring Mode' ON.
pelajaran ini membosankan

In [28]:
def jumlah(a,b):
    c = a + b
    return c

a = jumlah(3,4)
print(a)

7

In [29]:
def strangeFunction(n):
    if(n % 2 == 0):
        return True
    
print(strangeFunction(4))
print(strangeFunction(3))

True
None

In [30]:
def sumOfList(lst):
    sum = 0
    
    for elem in lst:
        sum += elem
        
    return sum

sumOfList([5,2,10,30])

47

In [31]:
def strangeListFunction(n):
    strangeList = []
    
    for i in range(0, n):
        print("Insert",i)
        strangeList.insert(0, i)
        print(strangeList)
        
    return strangeList

print("Hasil = ",strangeListFunction(5))

Insert 0
[0]
Insert 1
[1, 0]
Insert 2
[2, 1, 0]
Insert 3
[3, 2, 1, 0]
Insert 4
[4, 3, 2, 1, 0]
Hasil =  [4, 3, 2, 1, 0]

In [32]:
def strangeListFunction(n):
    strangeList = []
    
    for i in range(0, n):
        strangeList.insert(0, i)
        
    return strangeList

print(strangeListFunction(5))

[4, 3, 2, 1, 0]

In [33]:
def pangkat_kuadrat_regular(nums):
    """return setiap angka pada nums di pangkat 2"""
    
    result = []
    for num in nums:
        result.append(num ** 2)
        
    return result

In [34]:
ls = [1,2,3,4,5,6,7]

result = pangkat_kuadrat_regular(ls)

print(result)

[1, 4, 9, 16, 25, 36, 49]

In [35]:
def pangkat_kuadrat_map(num):
    """return num di pangkat 2"""
    
    return num ** 2

In [36]:
ls = [1,2,3,4,5,6,7]

In [37]:
result_pangkat = map(pangkat_kuadrat_map, ls)

list(result_pangkat)

[1, 4, 9, 16, 25, 36, 49]

In [38]:
result = list(map(pangkat_kuadrat_map, ls))

print(result)

[1, 4, 9, 16, 25, 36, 49]

In [39]:
def find_odd_number_regular(nums):
    """loop over 'nums' and return only the odd numbers"""
    
    result = []
    for num in nums:
        if num % 2 == 0:
            result.append(num)
            
    return result

In [40]:
ls = [1,2,3,4,5,6,7]

result = find_odd_number_regular(ls)
print(result)

[2, 4, 6]

In [43]:
def find_odd_number_filter(num):
    """return if num is odd number"""
    
    if num % 2 == 0:
        return True
    else:
        return False

In [44]:
def find_odd_number_filter(num):
    """return if num is odd number"""
    
    return num % 2 == 0

In [45]:
ls = [1,2,3,4,5,6,7]

result = list(filter(find_odd_number_filter, ls))
print(result)

[2, 4, 6]

In [46]:
def contain_words_regular(words):
    """loop over 'words' and return if it contains 'selatan'"""
    
    result = []
    for word in words:
        if 'selatan' in word:
            result.append(word)
            
    return result

In [47]:
strings = ['rumahku bertempat di utara', 'rumahku aku tidak tahu', 'sedangkan rumah dia di selatan']

result = contain_words_regular(strings)
print(result)

['sedangkan rumah dia di selatan']

In [48]:
def contain_words_filter(word):
    """return if 'word' contains the 'selatan'"""
    
    if 'selatan' in word:
        return True
    else:
        return False

In [49]:
def contain_words_filter(word):
    """return if 'word' contains the 'selatan'"""
    
    return 'selatan' in word

In [50]:
strings = ['rumahku bertempat di utara', 'rumahmu aku tidak tahu', 'sedangkan rumah dia di selatan']

result = list(filter(contain_words_filter, strings))
print(result)

['sedangkan rumah dia di selatan']